<form action="/areas/new" method="post" id="new-area" class="modal">
    <div class="modal-content">
        <div class="input-field col s10">
            <input id="area_name" name="area_name" value="{{area_name}}" type="text" class="validate" required>
            <label for="area_name">Nouveau Domaine</label>
        </div>
        <div class="input-field col s2">
            <button class="btn" type="submit">Ajouter</button>
        </div>
    </div>
</form>