<form action="/tags/new" method="post" id="new-tag" class="modal">
    <div class="modal-content">
        <div class="input-field col s10">
            <input id="tag_name" name="tag_name" value="{{tag_name}}" type="text" class="validate" required>
            <label for="tag_name">Nouveau Type de Contract</label>
        </div>
        <div class="input-field col s2">
            <button class="btn" type="submit">Ajouter</button>
        </div>
    </div>
</form>