<div class="col s12 m9 l10">
    {{> admin/_employers}}
    {{> admin/_jobs}}
    <div id="service-stat" class="section scrollspy col s12" style="text-align: center;">
        <canvas id="service-stats-chart"></canvas>
    </div>
</div>
<div class="col hide-on-small-only m3 l2">
    <ul class="section table-of-contents" style="position: fixed;">
        <li><a style="font-weight: bold;" href="#employers">Registrations</a></li>
        <li><a style="font-weight: bold;" href="#jobs">Assemblies</a></li>
        </li>
        <li>
            <div style="padding: 5 !important; text-align: center;">
                <img style="border-radius: 100%; width: 100px; height: 100px;" src="/favicon.ico">
            </div>
        </li>
    </ul>
</div>