<style>
  #jobs-container {
    padding: 15px;
  }
  #jobs-filter {
    padding: 5px;
    display: grid;
    text-align: center;
  }

  #jobs-filter>div {
    justify-self: center;
  }

  #select-filter>div>input {
    box-shadow: 1px 1px 16px var(--background-color);
    background-color: white;
    box-sizing: border-box;
    border-radius: 15px;
    height: 35px;
    padding: 9px;
  }

  #areas {
    margin-top: 20px;
    display: grid;
    grid-auto-flow: column;
    justify-content: center;
    justify-self: start;
  }

  #preloader {
    display: grid;
    grid-auto-flow: column;
    justify-content: center;
    min-height: 50vh;
    align-items: center;
  }
</style>
<script crossorigin src="https://unpkg.com/react@18/umd/react.development.js"></script>
<script crossorigin src="https://unpkg.com/react-dom@18/umd/react-dom.development.js"></script>
<div id="jobs-root">
  <div id="preloader">
    <h4 style="font-weight: bold;">ALERT JOBS</h4>
    <div class="progress">
      <div class="indeterminate"></div>
    </div>
  </div>
</div>
<script src="/js/react.js"></script>