<form action="/login" method="post" id="login-dialog" class="modal" style="max-width: 500px;">
    <div class="modal-content">
        <div class="input-field col s12">
            <input id="username" name="username" type="email" class="validate" required>
            <label for="username">Email</label>
        </div>
        <div class="input-field col s12">
            <input id="password" name="password" type="password" class="validate" required>
            <label for="password">Password</label>
        </div>
        <div class="input-field col s12" style="text-align: end;">
            <button class="btn" type="submit">Se connecter</button>
        </div>
    </div>
</form>