<div style="display: grid; grid-auto-flow: column; justify-content: center; align-items: center; min-height: 80vh;">
    <form action="/login" method="post" style="max-width: 500px;">
        <div class="col s12" style="font-weight: 25px; font-weight: 15px;">
            Email
        </div>
        <div class="input-field col s12">
            <input id="username" name="username" type="email" class="validate" required>
        </div>
        <div class="col s12" style="font-weight: 25px; font-weight: 15px;">
            Password
        </div>
        <div class="input-field col s12">
            <input id="password" name="password" type="password" class="validate" required>
        </div>
        <div class="input-field col s12">
            <button class="btn" type="submit" style="border-radius: 100px; width: 100%;">Se connecter</button>
        </div>
    </form>
</div>