<footer class="page-footer">
    <div class="container">
        <div class="row">
            <div class="col l3">
                <img src="/images/logo-text.png" alt="logo-text" width="250" />
            </div>
            <div class="col l3 offset-l2 s10">
                <h5 class="white-text">Restez informer</h5>
                <p style="margin-bottom: 0%;" class="grey-text text-lighten-4">
                    Recevez des notifications en
                    temps réels des nouveaux offres ajouter la plateforme.
                </p>
                <form style="padding: 0%;" id="email-form" action="/subscribers/new" method="post">
                    <input id="footer-email" name="email" type="email" class="validate" required />
                    <button style="border-radius: 15px;" id="email-button" class="btn waves-effect waves-light"
                        type="submit" name="action">S'inscrire
                        <i class="material-icons right">send</i>
                    </button>
                </form>
            </div>
            <div class="col l2 offset-l2 s10">
                <h5 class="white-text">Lien utils</h5>
                <ul>
                    <li>
                        <a class="grey-text text-lighten-3"
                            href="https://www.linkedin.com/company/alertjobscameroun">Linkedin</a>
                    </li>
                    <li>
                        <a class="grey-text text-lighten-3"
                            href="https://www.facebook.com/Alertjobsonline/">Facebook</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            ©2022 Copyright
            <a style="padding-inline-start: 10px;" class="grey-text text-lighten-4 right" href="/dashboard">login</a>
        </div>
    </div>
</footer>