<div class="col s12 m12" style="display: flex; justify-content: center;">
    <div class="card red lighten-2" style="width: 50%; min-width: 250px;">
        <div class="card-content white-text">
            <span class="card-title">500 Error: Internal Server Error</span>
            <p>Details</p>
            <p>{{errorMessage}}</p>
        </div>
    </div>
</div>