<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/favicon.ico" sizes="32x32">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
        integrity="sha512-UJfAaOlIRtdR+0P6C3KUoTDAxVTuy3lnSXLyLKlHYJlcSU8Juge/mjeaxDNMlw9LgeIotgz5FP8eUQPhX1q10A=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.0/css/all.min.css"
        integrity="sha512-10/jx2EXwxxWqCLX/hHth/vu2KY3jCF70dCQB8TSgNjbCVAC/8vai53GfMDrO2Emgwccf2pJqxct9ehpzG+MTw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script crossorigin src="https://unpkg.com/react@18/umd/react.development.js"></script>
    <script crossorigin src="https://unpkg.com/react-dom@18/umd/react-dom.development.js"></script>
    <title>Alert Jobs</title>
    <style>
        :root {
            --background-color: #746AB0;
            --secondary-color: #26a69a;
        }

        nav {
            background-color: var(--background-color);
            padding-inline: 10px;
        }

        .page-footer {
            background-color: var(--background-color);

        }

        .container {
            width: 80%;
        }

        .google-adds {
            color: var(--background-color);
            border: 1px solid var(--background-color);

        }

        .body {
            min-height: 100vh;
        }

        form {
            padding: 10px;
        }

        .btn-floating {
            background-color: var(--background-color);
        }

        p,
        a {
            font-family: 'Times New Roman', Times, serif;
        }

        .about {
            width: 50vw;
            text-align: center;
        }

        .about>h1,
        h3,
        a {
            color: #746AB0;
        }

        .tag-button {
            margin: 5px;
            padding: 10px;
            font-size: 20px;
            border-radius: 15px;
            border: 1px solid var(--primary-color);
        }

        .tag {
            font-size: 15px;
            font-weight: bold;
            color: var(--secondary-color);
            background-color: #dbdbdb;
        }

        .card:hover {
            border: 1px solid var(--secondary-color);
            box-shadow: 1px 1px 16px var(--secondary-color);
        }

        .grid-1fr-auto {
            display: grid;
            margin-top: 25px;
            grid-template-columns: 1fr auto;
        }
    </style>
</head>

<body>
    <div id="main-anchor"></div>
    {{> _header}}
    <div class="row body">
        {{{body}}}
    </div>
    {{> _footer}}

    {{!-- JavaScript code and importations --}}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"
        integrity="sha512-NiWqa2rceHnN3Z5j6mSAvbwwg3tiwVNxiAQaaSMSXnRRDh5C2mk/+sKQRw8qjV1vN4nf8iK2a0b048PnHbyx+Q=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.0/js/all.min.js"
        integrity="sha512-Cvxz1E4gCrYKQfz6Ne+VoDiiLrbFBvc6BPh4iyKo2/ICdIodfgc5Q9cBjRivfQNUXBCEnQWcEInSXsvlNHY/ZQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ckeditor/4.18.0/ckeditor.js"
        integrity="sha512-woYV6V3QV/oH8txWu19WqPPEtGu+dXM87N9YXP6ocsbCAH1Au9WDZ15cnk62n6/tVOmOo0rIYwx05raKdA4qyQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="/js/main.js"></script>
    <script src="/js/react.js"></script>
</body>

</html>